@using Zero1Five.Categories
@using Zero1Five.Gigs
<div class="search-box">
    <MudGrid Justify="Justify.Center">
        <MudItem sm="6" xs="12">
            <MudPaper Class="px-2">
                <MudSelect T="CategoryDto"  Value="@Category"
                           ValueChanged="CategoryChanged"
                           Label="Category">
                    @foreach (var category in CategoryList)
                    {
                        <MudSelectItem Value="@category">@category.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
        </MudItem>
        <MudItem sm="6" xs="12">
            <MudPaper Class="px-2">
                <MudTextField T="string" AdornmentIcon="@Icons.Filled.LocationPin"
                              Class="text-light"
                              Variant="Variant.Text" 
                              Value="@Keyword" ValueChanged="KeywordChanged"
                              Placeholder="Ex: palce,  automobile"
                              Adornment="Adornment.End">
                </MudTextField>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <div class="welcome-hero-serch">
        <MudButton OnClick="HandleSearch" Class="mt-3 ml-4" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">
            search
        </MudButton>
    </div>
</div>

@code {

}