@page "/manage/gigs/editor/{id:guid?}"
@using Zero1Five.Categories
@inherits Zero1FiveComponentBase

@using System.ComponentModel.DataAnnotations
@using NUglify.Helpers
<MudContainer Class="pt-8 px-0 container-fluid" >
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
    <div class="bfeditor">
        <div class="bfeditor-header">
            <img class="bfeditor-cover" src="@PreviewImage" alt="@L["cover"]" id="postCover">
            <div class="bfeditor-actions">
                <div class="container d-flex">
                    <MudButton
                        ButtonType="ButtonType.Submit"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Class="ml-auto">
                        @L["Save"]
                    </MudButton>
                </div>
            </div>
            <div class="bfeditor-header-inner">
                <MudContainer>
                    <InputFile id="fileInput" OnChange="@OnInputFileChange" hidden/>
                    <textarea class="bfeditor-header-textarea bfeditor-header-title autosize" @bind="model.Title" name="title" placeholder="@L["post-title"]" rows="1" autofocus></textarea>
                    <textarea class="bfeditor-header-textarea bfeditor-header-desc autosize" @bind="model.Description" name="description" placeholder="@L["description"]..." rows="1"></textarea>
                    <div class="bfeditor-meta d-flex">
                        <MudFab HtmlTag="label" Size="Size.Small"
                                Color="Color.Secondary" IconSize="Size.Small"
                                Icon="@Icons.Filled.Image"
                                Label="Load picture"
                                for="fileInput" On/>
                        <MudSelect  T="CategoryDto"  
                                    Label="Select Category"
                                    @bind-Value="@Category" 
                                    ToStringFunc="dto =>dto.Name "> 
                            @foreach (var cat in CategoryList)
                            {
                                <MudSelectItem Value="@cat"/>
                            }
                        </MudSelect>
                    </div>
                </MudContainer>
            </div>
        </div>
    </div>
    </EditForm>
</MudContainer>