@page "/manage/products/editor/{Id:guid?}"
@inherits Zero1FiveComponentBase
@using Zero1Five.Categories
@using Zero1Five.Gigs

<MudContainer Class="pt-8 px-0 container-fluid">
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>

        <div class="bfeditor">
            <div class="bfeditor-header">
                <img class="bfeditor-cover"
                     src="@PreviewImage"
                     alt="@L["cover"]"
                     id="postCover">
                <div class="bfeditor-actions">
                    <div class="container d-flex">
                        <MudButton
                            ButtonType="ButtonType.Submit"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            Class="ml-auto">
                            @L["Save"]
                        </MudButton>
                    </div>
                </div>
                <div class="bfeditor-header-inner">
                    <MudContainer>
                        <InputFile id="fileInput" OnChange="@OnInputFileChange" hidden/>
                        <textarea class="bfeditor-header-textarea bfeditor-header-title autosize" 
                            @bind="model.Title"
                            name="title" 
                            placeholder="@L["post-title"]"
                            rows="1" autofocus></textarea>
                        <textarea class="bfeditor-header-textarea bfeditor-header-desc autosize"
                            @bind="model.Description" name="description" placeholder="@L["description"]..." rows="1"></textarea>
                        <div class="bfeditor-meta d-flex">

                            <MudFab
                                HtmlTag="label" Class="mx-2 mxt-4" Size="Size.Small"
                                Color="Color.Secondary" IconSize="Size.Small"
                                Icon="@Icons.Filled.Image"
                                Label="Load picture"
                                for="fileInput" On/>
                            <MudPaper Elevation="1" Class="mx-5">
                                <MudSelect T="CategoryDto" @bind-Value="@SelectedCategory"
                                           Label="Select a Category" Variant="Variant.Text"
                                           ToStringFunc="dto => dto.Name" OffsetY="true">
                                    @foreach (var cat in CategoryList)
                                    {
                                        <MudSelectItem Value="cat"/>
                                    }
                                </MudSelect>
                            </MudPaper>
                            <MudPaper Elevation="1" Class="mx-5">
                                <MudSelect T="GigLookUpDto" @bind-Value="@SelectedGig"
                                           Label="Select a Category" Variant="Variant.Text"
                                           ToStringFunc="dto => dto.Title" OffsetY="true">
                                    @foreach (var gig in GigList)
                                    {
                                        <MudSelectItem Value="gig"/>
                                    }
                                </MudSelect>
                                <ValidationMessage For="@(() => SelectedGig)"/>
                            </MudPaper>
                        </div>
                    </MudContainer>
                </div>
            </div>
        </div>
        <ValidationSummary></ValidationSummary>
    </EditForm>
</MudContainer>