@page "/products"
@using Zero1Five.Categories
<div class="container">
    <div class="section-header">
        <h2>Products</h2>
        <p>Explore New place, food, culture around the world and many more</p>
    </div>
    <div class="explore-content">
        <MudGrid >
            <MudItem sm="12">
                <SearchBox @bind-Category="@Category" @bind-Keyword="@Keyword" OnSubmit="LoadAsync"/>
            </MudItem>
            @if (ProductList.Count == 0)
            {
                @for (int i = 0; i < 6; i++)
                {
                    <MudItem sm="12" xs="12" md="4">
                        <Skeleton/>
                    </MudItem>
                }
            }
            else
            {
                @foreach (var product in ProductList)
                {
                    <MudItem sm="6" xs="12" md="4">
                        <MudCard>
                            <MudCardMedia Image="@product.LoadImage()" Height="200"/>
                            <MudCardContent>
                                <MudText Typo="Typo.h5">@product.Title</MudText>
                                <MudText Class="my-2 text-muted" Typo="Typo.subtitle2">@product.CategoryName</MudText>
                                <MudText Typo="Typo.body2">@product.Description</MudText>
                                <MudRating Size="Size.Small" SelectedValue="4"/>
                                <MudDivider Class="mt-3" DividerType="DividerType.FullWidth"/>
                            </MudCardContent>
                            <MudCardActions Class="m-0">
                                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary"/>
                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Success"></MudIconButton>
                                <MudText Class="ml-auto mx-3" Typo="Typo.subtitle2"
                                         Align="Align.Right">
                                    Posted : @product.CreationTime.Humanize()
                                </MudText>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                }
            }
        </MudGrid>
    </div>
</div>


@code {

}